/test.exe
/structure.exe
hollowrectangularpattern.exe
/triangularpattern.exe
/invertedtrianglepattern.exe
/numericalpattern01.exe
/triangle.exe
/triangleagain.exe
/pattern11.exe
/hollowtriangle.exe
/pattern12again.exe
/hollownumericrectangle.exe
/pattern12.exe