/test.exe
/structure.exe
hollowrectangularpattern.exe
/triangularpattern.exe
/invertedtrianglepattern.exe
/numericalpattern01.exe
/triangle.exe
/triangleagain.exe
/pattern11.exe
/hollowtriangle.exe
/pattern12again.exe
/hollownumericrectangle.exe
/pattern12.exe
number_of_digits_in_a_number.exe
pattern14.exe
pattern15.exe
trial.exe
armstrong.exe
factorial.exe
pattern16.exe
pattern16again.exe
power.exe
reversingnumber.exe
sumofdigits.exe
trial02.exe
trial03.exe
a.exe
pluspattern.exe
pluspattern02.exe
ranklist.exe
sorting.exe