/test.exe
/structure.exe
hollowrectangularpattern.exe
/triangularpattern.exe
/invertedtrianglepattern.exe
/numericalpattern01.exe
/triangle.exe
/triangleagain.exe
/pattern11.exe
/hollowtriangle.exe
/pattern12again.exe
/hollownumericrectangle.exe
/pattern12.exe
number_of_digits_in_a_number.exe
pattern14.exe
pattern15.exe
trial.exe
armstrong.exe
factorial.exe
pattern16.exe
pattern16again.exe
power.exe
reversingnumber.exe
sumofdigits.exe
trial02.exe
trial03.exe
a.exe
pluspattern.exe
pluspattern02.exe
ranklist.exe
sorting.exe
selection_sorting.exe
linear_search.exe
binary_search.exe
binaryadd.exe
double_dim_array.exe
binary_to_decimal.exe
call_by_ref.exe
decimal_to_binary.exe
fabannoci.exe
traversing_array_by_for_each_loop.exe
array_name_and_pointer_of_that_array.exe
greatest_in_array.exe
ttesting.exe
ttttrial.exe
vector.exe